<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <form action="/add-festival" method="POST" enctype="multipart/form-data" >
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <input class="uk-input uk-form-large" type="text" name="name" placeholder="Festival name" required/>
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <input class="uk-input uk-form-large" type="text" name="city" placeholder="City" required/>
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <input class="uk-input uk-form-large" type="text" name="country" placeholder="Country" required/>
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <input class="uk-input uk-form-large" type="number" name="latitude" placeholder="Latitude" />
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <input class="uk-input uk-form-large" type="number" name="longitude" placeholder="Longitude" />
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <input class="uk-input uk-form-large" type="text" name="description" placeholder="Festival description" required/>
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <input class="uk-input uk-form-large" type="date" name="startDate" placeholder="Start date" required/>
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <input class="uk-input uk-form-large" type="date" name="endDate" placeholder="End date" required/>
            </div>
        </div>

        <div class="uk-margin">
            <div>
                <span>Please select a festival genre</span>
            </div>
            <div uk-form-custom="target: > * > span:first-child">
                <select name="category" id="category" required>
                    {{#each categories}}
                        <option value="{{categoryName}}">{{categoryName}}</option>
                    {{/each}}
                </select>
                <button class="uk-button uk-button-default" type="button" tabindex="-1">
                    <span></span>
                    <span uk-icon="icon: chevron-down"></span>
                </button>
            </div>
        </div>
        {{> upload }}
        <div class="uk-margin">
            <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Add Festival Listing</button>
        </div>
    </form>
</div>