<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <form action="/add-category" method="POST">
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <input class="uk-input uk-form-large" type="text" name="category" placeholder="Music genre" />
            </div>
        </div>

        <div class="uk-margin">
            <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Add Category</button>
        </div>
    </form>
</div>