<div>
    <div class="uk-card uk-card-default uk-card-small uk-text-center uk-text-baseline uk-animation-scale-up">
        <p>There are {{festcount}} festivals recorded in the system</p>
    </div>
</div>