<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <form action="/upload-add-image" method="POST" enctype="multipart/form-data" >
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <input class="uk-input uk-form-large" type="text" name="festName" value="{{festival.name}}" required/>
            </div>
        </div>
        {{> upload-add-images }}
        <div class="uk-margin">
            <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Add image</button>
        </div>
    </form>
</div>