<div class="uk-card uk-card-danger uk-card-body">
    <h3 class="uk-card-title">Upload your pics!!!</h3>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Select Image</label>
        <div class="uk-form-controls">
            <input type="file" class="uk-input" name="imagefile" accept="image/png, image/jpeg">
        </div>
    </div>
</div>