<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Metal Fest Inc." subtitle="Admin console"}}
    {{> main-menu }}
</div>

<div class="uk-container uk-margin">
    <ul class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-scale-up">
        <li><a href="#">Users</a></li>
        <li><a href="#">Festivals</a></li>
        <li><a href="#">Genres</a></li>
    </ul>

    <ul class="uk-switcher uk-margin">
        <li>    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
            <div class="uk-width-expand@m">{{> user-list}}</div>
        </div></li>
        <li>    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
            <div class="uk-width-expand@m">{{> admin-fest-list}}</div>
        </div></li>
        <li><div class="uk-container uk-margin">
            <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
                <div class="uk-width-expand@m">
                    {{> add-category}}
                </div>

                <div class="uk-width-expand@m">
                    <div class="uk-width-expand@m">
                        {{> category-list}}
                    </div>
                </div>
            </div>
        </div></li>
    </ul>
</div>
